In [1]:


import pandas as py
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [2]:
pip install w2n

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement w2n
ERROR: No matching distribution found for w2n

In [3]:
#Exercise
#In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

#2 yr experience, 9 test score, 6 interview score

#12 yr experience, 10 test score, 10 interview score

#Answer
#53713.86 and 93747.79

In [4]:
df = py.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
 df.experience = df.experience.fillna('zero')

In [12]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [13]:
df.experience = df.experience.apply(w2n.word_to_num) 
df

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')

In [14]:
import math
median_test_score = math.floor(df['test_score(out of 10)'].mean())
median_test_score

7

In [15]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [16]:
#Create Regression Model
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

# 2 yr experience, 9 test score, 6 interview score

reg.predict([[2,9,6]])

In [17]:
reg.predict([[12,10,10]])

array([93747.79628651])

In [18]:
reg.predict([[2,9,6]])

array([53713.86677124])